.container{
    display: block;
    width: 30%;
    margin: 0 auto;
}
.board-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
button{
    width: 20%;
    text-align: center;
}
.zero{
    width: 40%;
}
.result{
    display: block;
    width: 80%;
    min-height: 30px;
    margin: 0 auto 4px;
    background: #000000;
    color: #ffffff;
}
